.popular-destinations {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.destinations {
    display: flex;
    gap:10px;
    justify-content: space-around;
    margin-top: 20px;
    
}
.left{
    border-radius: 100%;
    background-color:rgba(231, 91, 91, 0.4);
}
.right{
    border-radius:100%;
}

.destination-card img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}
.icons{
    color:orange;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding:10px;
    font-size: 16px;
    
}
